﻿body{
  font: 20px Tahoma italic;
  color: black;
  background: white;
  display:inline-block;
  text-align:center;
}

.container{
   margin: 0 auto;
   border:5px solid black;
    width:500px; 
    height:300px; 
    position: fixed;
    top: 40%; 
    left: 36%; 
    margin-top: -100px; 
    margin-left: -100px; 
}
.login{
   padding: 50px 20px 20px;
}

.login Label{
  text-align:center;
}

.loginbtn{
    text-align: center;
}

.logo{
   position: absolute;
   left: 35%;
}



