﻿.body{
    background-color: #EEE;
}
.LoginForm{
    max-width: 350px;
    margin:auto;
    margin-top: 150px;
}
.LoginFormError{
    color: red;
    font-size: 18px;
}
.LogOutButton{
    margin-top: 7px;
}
.Username{
    margin-top: 7px;
    color: white;
}
.MainForm{
    max-width: 550px;
    margin: auto;
    margin-bottom: 50px;
}
.MainFormGraph{
    max-width: 550px;
    margin-bottom: 50px;
}
.RegisterSubmit{
    margin-top: 25px;
}