﻿.d1{
    width:97%;
    height:39px;
    background-color:bisque;
}
.menu{
    width:100%;
    font-family:Tahoma;
    font-size:20px;
    text-align:center;
    display:inline;
}
.menu ul{
    height:auto;
    padding:8px 0px;
    margin:0px;
    
}
.menu li{
    display:inline;
    padding:20px;
}
.menu p{
display:inline;
    padding:20px;
}
.menu a{
    color:black;
    text-decoration:none;
    padding:5px 10px 5px 10px;
}


.menu a:hover{
    background-color:beige;
    color:darkblue;
}
